@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    height: 5rem;
    background: #222;
    padding: 1rem 0;
}

.nav-center {
    max-width: 1170px;
    margin: auto;
}

.nav-title {
    padding: 0 10px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.hero {
    padding: 0 1rem;
    background: linear-gradient(to right, rgba(128, 62, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(img/coffee-bkg.jpg) center/cover;
    min-height: calc(100vh - 5rem);
}

.hero-center {
    max-width: 1170px;
    margin: auto;
    padding: 10rem 0;
    color: #fff;
}

.hero-center h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-center p {
    max-width: 800px;
    margin-bottom: 30px;
}

.hero-btn{
    border: #fff solid;
    background: none;
    padding: 15px 30px ;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
}