body {
    background: #f1f5f9;
    font-family: 'Roboto', sans-serif;

}

.card {
    background: #fff;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin: 40px auto;
    border-radius: 10px;
    border: 1px solid transparent;
}

.card-1 {
    border-color: #ff69a6;
}

.card-2 {
    border-color: #68a3ff;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-pink {
    background: #ff69a6;
}

.icon-blue {
    background: #68a3ff;
}

.text {
    color: #64748b;
}

.btn {
    border: none;
    padding: .5em 1em;

}

.btn-pink {
    color: #ff69a6;
    background: #ffe8f1;
}

.btn-blue {
    color: #68a3ff;
    background: #ecf4ff;
}