@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    height: 5rem;
    width: 100%;
    background: #222;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-center {
    max-width: 1170px;
    margin: auto;
}

.nav-title {
    padding: 0 10px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.hero {
    background-color: #693e1b;
    min-height: calc(100vh - 5rem);
    position: relative;
}


.hero-center {
    max-width: 1170px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-center h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-center p {
    margin: 30px 0;
    
}

.hero-text{
    animation: slideFromTop 3s ease-in-out 1;
}

.hero-btn {
    border: #fff solid;
    background: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;

    animation: slideFromBottom 3s ease-in-out 1;
}

.temp {
    min-height: 100vh;
    background-color: red;
}

@media screen and (min-width: 768px) {
    .hero {
        
        background: linear-gradient(to right, rgba(128, 62, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(img/coffee-bkg.jpg) center/cover;
    }
}

/* Animation */
@keyframes slideFromTop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromBottom{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}